.container {
  width: fit-content;
  font-size: 24px;
}

.internalContainer {
  display: flex;
  gap: 8px;
}

.iconContainer {
  display: flex;
  align-items: center;
}

/* TODO: floatさせたい */
.selected::after {
  content: '';
  display: block;
  height: 5px;
  background-color: lightgray;
}
